/* 27/02/2025 */
/* 68. Basic Styling with CSS */
/* 69. Introduction to the CSS Box Model */

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  /* we are always going to use border-box */
  /* With box-sizing: border-box;, width and height include the padding and border, making layout calculations much easier. */
  /* By default (box-sizing: content-box;), an element's width and height only include the content, but not padding or borders. */
}

body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

/* overrides the body selectors */
h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

/* this rule applies to both selectors */
input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellow;
}

#course-image {
  width: 300px;
}

#your-name h2 {
  color: olivedrab;
}